.attach-search-result{
	position:absolute;
	width:93%;
}
.basic-view-toggle-button{
	float:right;
}
.basic-view-knolskape-logo{
	width: 45%;
margin-right: 90px;
height: 10%;
display: block;
margin-left: 20px;
}