.display-social-link-facebook{
font-weight: 480;
font-size:15px;
margin-left:10px;
 margin-top:7px;
}

.display-social-link-others{
	font-weight: 480;
	font-size:15px;
	margin-left:10px;
	margin-top:5px;
}