.edit-user-info-outer-div{
	margin-top:10px;
	background-color:white;
}
.edit-user-phone-number-outer-container{
	margin-left:5px;
	margin-right:5px;
}
.edit-user-phone-number-heading{
	border-bottom:1px grey solid;
}
/* ############note the above three classes are also used by socail links div in same manner.....##########......*/
.edit-user-phone-numbers-content-area{
	height:100px;
	overflow-y:auto;
	padding-bottom:5px;
	border-bottom:1px solid grey;
}
.edit-user-add-new-phone-outer-area{
	margin-top:5px;
}
.edit-usesr-add-new-phone-input-box{
	width: 124px;
	height: 25px;
	padding-left: 5px;
}
.edit-user-add-new-phone-select-box{
	
	width: 106px;
	padding-top:4px;
	padding-bottom:4px;
	display:inline;
	clear:both;
}
.edit-user-info-right-hand-side-container{
	height:500px;
	background-color:white;
	margin-left:15px;
}
.edit-user-information-heading-style{
	border-bottom:1px grey solid;font-size:20px;
	color:#00003D;background-color:#E0E0E8;
	margin-top:5px;border-radius:7px;
}
.edit-user-content-display-details{
	margin-top:15px; margin-bottom:0px;
}