.edit-google-link-box{
font-weight: 480;
	font-size:12px;
	margin-left:10px; 
	margin-top:7px;
}
.edit-other-link-box{
	font-weight: 480;
	font-size:12px;
	margin-left:10px;
	margin-top:5px;
}
